{% extends 'index.html' %}
{% load static %}
{% block title %} Student Login {% endblock %}
{% block content %}

    <div class="content mt-4">
        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="toolbar">

                            <div class="col-md-12">
                                <div class="progress-container progress-info">
                                    <h4 class="progress-badge text-capitalize font-weight-bold" style="font-size: 20px;">
                                        total engagement
                                        <span class="float-right" style="font-size: 15px;">
                                            <a href="javascript:void(0)" onclick="login_hehe();" style="color: black; font-weight: 600;">
                                                {{ count_number }}
                                            </a>
                                        </span>
                                    </h4>
                                    <div class="progress">
                                        <div class="progress-bar"
                                             role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ count }}%; animation: progress-animation 2s ease-in-out, glow-animation 1s infinite;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 ml-auto mr-auto">
                <div class="card card-login card-white pb-3">
                    <div class="card-header mb-2">
                        <h1 class="card-title"
                            style="font-family: 'auto';color: black;font-size: 40px;font-weight: 600;margin-left: 15px;">
                            Login</h1>
                    </div>
                    <form class="form" method="POST" id="login_form" onsubmit="login(); return false;">
                        {% csrf_token %}
                        {% if messages %}
                            <div class="card-body pb-0">
                        {% else %}
                            <div class="card-body">
                        {% endif %}
                            <div class="form-group m-0 text-right" style="font-weight: 600; font-size: 15px;">
                                <span class="mr-2" style="color: #2577f6c2 !important;">
                                    <label class="cursor-pointer" for="user_login">
                                        <span>Login With Username</span>
                                        <i class="fa-solid fa-hand-point-right ml-2 mr-2" style="font-size: 17px;"></i>
                                    </label>
                                </span>
                                 <input type="checkbox" name="user_login" id="user_login"
                                       onchange="login_check()"
                                       class="bootstrap-switch text-info" data-on-label="ON" data-off-label="OFF">
                            </div>
                            <div class="form-group" id="user" style="display: none;">
                                <label for="name" style="font-weight: 600; font-size: 15px;">
                                    Username
                                    <span style="color:red;">*</span>
                                </label>
                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-single-02"></i>
                                        </div>
                                    </div>

                                    <input type="text" name="name" placeholder="Username"
                                       id="name" class="form-control">
                                </div>
                            </div>
                            <div id="email_enroll">
                                <div class="form-group">
                                    <label for="Username" style="font-weight: 600; font-size: 15px;">
                                        Enrollment Number
                                        <span style="color:red;">*</span>
                                    </label>
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-single-02"></i>
                                            </div>
                                        </div>

                                        <input type="number" name="Username" placeholder="Enrollment Number" value="221433142036"
                                               id="Username" class="form-control" inputmode="numeric" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Email" style="font-weight: 600; font-size: 15px;">
                                        Email
                                        <span style="color:red;">*</span>
                                    </label>
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-email-85"></i>
                                            </div>
                                        </div>

                                        <input type="text" name="Email" placeholder="Email" id="Email" value="connect.prathmeshsoni@gmail.com"
                                               class="form-control" inputmode="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password" style="font-weight: 600; font-size: 15px;">
                                    Password
                                    <span style="color:red;">*</span>
                                </label>
                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>

                                    <input type="password" name="Password" placeholder="Password" id="Password" value="User@1234"
                                           class="form-control" inputmode="password" required>
                                </div>
                            </div>
                            {% if messages %}
                                <div class="pull-right pb-2">
                            {% else %}
                                <div class="pull-right">
                            {% endif %}
                                <h6>
                                    <a href="/forgot/" class="link footer-link text-info">Forgot Password?</a>
                                </h6>
                            </div>
                            <div class="form-group m-0" id="main_error" {% if not messages %}style="display: none"{% endif %}  >
                                <div class="input-group m-0" style="color: red;" >
                                    <div class="row">
                                        <div class="col-12" >
                                            <div class="fog-pwd text-center">
                                                <div id="change" style="border-color: red !important;
                                                            color: red !important;
                                                            background-color: #ff5e5929 !important;"
                                                class="alert alert-info m-0">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <span class="alert-inner--text" id="messege_error" >{{ message }}</span>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <span class="alert-inner--text" id="login_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info btn-lg btn-block mb-3">
                                Login
                            </button>
                            <div class="pull-left">
                                <h6>
                                    <a href="/register/" class="link footer-link text-info">Create an Account ?</a>
                                </h6>
                            </div>
                            <div class="pull-right">
                                <h6>
                                    <a href="/profile/" class="link footer-link text-info">Need UserName?</a>
                                </h6>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_1 %}
    <script>
        function login_check() {
            var user_login = document.getElementById('user_login');
            var val = user_login.checked;
            if (val) {
                $('#user').css('display', 'block');
                $('#email_enroll').css('display', 'none');
                $('#name').attr('required', true);
                $('#Username').attr('required', false).val('');
                $('#Email').attr('required', false).val('');
                $('#Password').val('');
            } else {
                $('#user').css('display', 'none');
                $('#email_enroll').css('display', 'block');
                $('#Username').attr('required', true);
                $('#Email').attr('required', true).val('');
                $('#name').attr('required', false).val('');
                $('#Password').val('');
            }
        };

        function login() {
            $('#login_loader').css('display', 'flex');
            $.ajax({
                url: '/login/',
                method: 'POST',
                data: $('#login_form').serialize(),
                dataType: 'JSON',
                success: function (data) {
                    if (data.status === true) {
                        if (data.create === "not_exist_user") {
                            $('#main_error').css('display', 'block');
                            $('#messege_error').css('display', 'none');
                            $('#login_error').html(data.msg);
                            $('#Password').val('');
                        }
                         else if (data.create === "not_verify") {
                            $('#main_error').css('display', 'block');
                            $('#messege_error').css('display', 'none');
                            $('#login_error').html(data.msg);
                        }
                         else if (data.create === "wrong_password") {
                            $('#main_error').css('display', 'block');
                            $('#messege_error').css('display', 'none');
                            $('#login_error').html(data.msg);
                        }
                        else if (data.create === "not_faculty") {
                            $('#main_error').css('display', 'block');
                            $('#messege_error').css('display', 'none');
                            $('#login_error').html(data.msg);
                        }
                         else if (data.create === "login_success") {
                            $('#main_error').css('display', 'block');
                            $('#messege_error').css('display', 'none');
                            $('#login_error').html(data.msg).css('color', 'green');
                            $("#change").css('background-color', '#6aff5929');
                            $('#login_form').trigger('reset');
                            $('#login_loader').css('display', 'none');
                            setTimeout(function () {
                                window.location.href = data.url;
                            }, 500);
                        }
                        setTimeout(function () {
                            $('#login_loader').css('display', 'none');
                            var name = $('#name').val();
                            var enroll = $('#Username').val();
                            var email = $('#Email').val();
                            if (data.hasOwnProperty('msg_1')){
                                var s1 = prompt(data.msg + '\n Or ' + data.msg_1);
                                if (s1 && data.hasOwnProperty('msg_2')) {
                                    var s2 = prompt(data.msg_2);
                                    if (s2) {
                                        $.ajax({
                                            url: '/login/',
                                            method: 'POST',
                                            data: {
                                                'name': name,
                                                'Username': enroll,
                                                'Email': email,
                                                's1': s1,
                                                's2': s2,
                                                'sem': data.sem,
                                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                                            },
                                            dataType: 'JSON',
                                            success: function (data) {
                                                if (data.create === "login_success") {
                                                    $('#main_error').css('display', 'block');
                                                    $('#messege_error').css('display', 'none');
                                                    $('#login_error').html(data.msg).css('color', 'green');
                                                    $("#change").css('background-color', '#6aff5929');
                                                    $('#login_form').trigger('reset');
                                                    $('#login_loader').css('display', 'none');
                                                    setTimeout(function () {
                                                        window.location.href = data.url;
                                                    }, 500); 
                                                }
                                                else {
                                                    $('#main_error').css('display', 'block');
                                                    $('#messege_error').css('display', 'none');
                                                    $('#login_error').html(data.msg); 
                                                    $('#login_loader').css('display', 'none');
                                                }      
                                            }
                                        });
                                    }
                                }
                            }
                        }, 650);
                    }
                    else {
                        $('#login_loader').css('display', 'none');
                        $('#main_error').css('display', 'block');
                        $('#messege_error').css('display', 'none');
                        $('#login_error').html('Something is Wrong Try Again...').css('color', 'red');
                        setTimeout(function () {
                            window.location.href = "/login/";
                        }, 2000);
                    }
                }
            });

        }
    </script>
{% endblock %}
