{% extends 'index.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block content %}

    <div class="content mt-4">
        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="card card-login card-white pb-3">
                    <div class="card-header mb-2">
                        <h1 class="card-title"
                            style="font-family: 'auto';color: black;font-size: 25px;font-weight: 600;margin-left: 15px;">
                            Change Password</h1>
                    </div>
                    <form class="form" method="POST" id="change_password_form" onsubmit="change_password(); return false;">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Password" style="font-weight: 600; font-size: 15px;">
                                    New Password
                                    <span style="color:red;">*</span>
                                </label>
                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>

                                    <input type="password" name="Password" placeholder="Password" id="Password"
                                           class="form-control" inputmode="password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Confirm-Password" style="font-weight: 600; font-size: 15px;">
                                    Confirm New Password
                                    <span style="color:red;">*</span>
                                </label>
                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>

                                    <input type="password" name="Confirm-Password" placeholder="Confirm New Password" id="Confirm-Password"
                                           class="form-control" inputmode="password" required>
                                </div>
                            </div>
                            <div class="form-group m-0" id="main_error" {% if not messages %}style="display: none"{% endif %}  >
                                <div class="input-group m-0" style="color: red;" >
                                    <div class="row">
                                        <div class="col-12" >
                                            <div class="fog-pwd text-center">
                                                <div id="change" style="
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            {% if message.tags == 'success' %}
                                                                border-color: green !important;
                                                                color: green !important;
                                                                background-color: #6aff5929 !important;
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        border-color: red !important;
                                                        color: red !important;
                                                        background-color: #ff5e5929 !important;
                                                    {% endif %}
                                                        "
                                                class="alert alert-info m-0">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <span class="alert-inner--text" id="messege_error" >{{ message }}</span>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <span class="alert-inner--text" id="login_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info btn-lg btn-block mb-3">
                                Change Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_1 %}
    <script>
        function change_password() {
            $('#login_loader').css('display', 'flex');
            $.ajax({
                url: '/change/',
                method: 'POST',
                data: $('#change_password_form').serialize(),
                dataType: 'JSON',
                success: function (data) {
                    if (data.status === true) {
                        window.location.href = "/change/";
                    }
                    else if (data.status === false) {
                        $("#change").css('background-color', 'rgb(255 45 45 / 8%)');
                        $('#login_loader').css('display', 'none');
                        $('#main_error').css('display', 'block');
                        $('#messege_error').css('display', 'none');
                        $('#login_error').html('Something is Wrong Try Again...').css('color', 'red');
                        setTimeout(function () {
                            window.location.href = "/change/";
                        }, 2000);
                    }
                    else{
                        $("#change").css('background-color', 'rgb(255 45 45 / 8%)');
                        $('#main_error').css('display', 'block');
                        $('#messege_error').css('display', 'none');
                        $('#login_error').html(data.msg).css('color', 'red');
                        setTimeout(function () {
                            $('#login_loader').css('display', 'none');
                        }, 650);
                    }
                }
            });

        }
    </script>
{% endblock %}
