# robots.txt for https://cse-aiml.live/ 💻👨‍💻


--> For All User Without Login/With Login: ▼
|---------------------------------------------------------------------|
|    Allow: /                                                         |
|    Allow: /developed-by/                                            |
|                                                                     |
|    Allow: /c/notes/sem-3/                                           |
|    Allow: /c/notes/sem-4/                                           |
|    Allow: /c/notes/sem-5/                                           |
|    Allow: /c/notes/sem-6/                                           |
|                                                                     |
|    Allow: /c/assignment/                                            |
|                                                                     |
|    Allow: /contact/                                                 |
|                                                                     |
|    Allow: /upload/                                                  |
|    Allow: /verification/                                            |
|    Allow: /verification/delete/                                     |
|    Allow: /download-csv/ | (POST)                                   |
|    Allow: /update_item/(id)/ | (POST)                               |
|                                                                     |
|    Allow: /confession/                                              |
|    Allow: /confession/views/                                        |
|                                                                     |
|    Allow: /forgot/                                                  |
|    Allow: /verify/(token)/                                          |
|                                                                     |
|    Just For Fun                                                     |
|    Allow: /nasa/                                                    |
|    Allow: /nasa/?Date=(Date)                                        |
|           /nasa/?Date=09-25-2003                                    |
|---------------------------------------------------------------------|


--> Authentication Pages: ▼
|---------------------------------------------------------------------|
|    Allow: /register/                                                |
|    Allow: /login/                                                   |
|    Allow: /logout/                                                  |
|---------------------------------------------------------------------|


--> Logged In User: ▼
|---------------------------------------------------------------------|
|    Allow: /change/                                                  |
|    Allow: /profile/                                                 |
|    Allow: /students/                                                |
|    Allow: /branch/                                                  |
|    Allow: /subject/                                                 |
|                                                                     |
|    Allow: /(enrollment-number)/                                     |
|           /2214331420**/                                            |
|    Allow: /(enrollment-number)/(semester)/                          |
|           /2214331420**/5/                                          |
|    Allow: /(branch-name)/                                           |
|           /aiml/                                                    |
|    Allow: /branch/(branch-name)/(sem)/(batch)/                      |
|           /branch/aiml/5/2021/                                      |
|    Allow: /(sem)/(branch-name)/(subject-name)/(mse)/(batch)/        |
|           /5/aiml/python/1/2021/                                    |
|                                                                     |
|    Allow: /add_like/ | (POST)                                       |
|    Allow: /get_confession/ | (POST)                                 |
|    Allow: /add_comment/ | (POST)                                    |
|    Allow: /delete_comment/ | (POST)                                 |
|---------------------------------------------------------------------|


--> For Some Specific User: ▼
|---------------------------------------------------------------------|
|    Disallow: /admin/                                                |
|    Disallow: /admin_side/                                           |
|    Disallow: /student/                                              |
|    Disallow: /faculties/                                            |
|    Disallow: /(all-enrollment-number)/                              |
|    Disallow: /(all-branch-name)/                                    |
|    Disallow: /(sem)/(branch-name)/(subject-name)/(mse)/(batch)/     |
|    Disallow: /faculty/login/                                        |
|---------------------------------------------------------------------|


--> You Want To Talk To Me: 💻💬
|---------------------------------------------------------------------|
|    Just Go Here:                                                    |
|    https://chat.prathmeshsoni.works                                 |
|---------------------------------------------------------------------|
